#topnav li {
    display: inline
}
#topnav a {
    background:#ABCDEF
    text-decoration: none;
    float: left
    width: 100px;
    text-align:center;
    border-right: 1px solid #ffffff;   
}
#topnav {
    font-size: 20px;
    word-spacing: 12px;
    background-color: aliceblue;
    color: black;
    text-align: left;
}

h1{
    background-color: #170101;
    color: azure;
    font-size: 50px;
    line-height: 3;
        
}

img{
    width: 100%;
    height: 50%;
    display: inline;
        
}
b{
    font-size: 35px;
    background-color: aquamarine;
}
h2 {
    display: inline;
    padding: 2px
}
body {
    overflow-y: scroll;
}
*{
    margin: auto;
    padding: 1px;
}
.slider {
    position:absolute;
    margin: auto
}
 .mySlides {
    border-right: solid 1px ;
    width: 28%;
    height: 50%;
    float: left;
    display:inline;
}
#info{
    display: inline;
    position: absolute;
    width: 100%
}